@charset "UTF-8";

#header_container { 
  position: fixed; left: 0; top: 0;
  width: 100%; height: 60px; 
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 0 16px;
}

header { width: 1092px; margin: auto; }
header h1 { float: left; margin-top: 20px; }
header h1 a { 
  display: block; 
  width: 163px; height: 21px;
  background: url('../img/logo.png') no-repeat;
  text-indent: -9999px;
}

.trigger { display: none; }


ul.navList { 
  margin-left: 163px; text-align: center; }
ul.navList > li { display: inline-block; }
ul.navList > li > a.mainBtn { 
  display: block; line-height: 60px; padding: 0 30px;
}

.sub { position: absolute; z-index: 200; 
  padding-top: 20px;
  /* 처음에는 위로 숨김 */
  transform: translateY(-30px);
  opacity: 0; visibility: hidden;
  transition: all 0.2s ease-out;
}
.sub li { } 
.sub a { display: block;
  text-align: left; 
  font-size: 14px;
  padding:10px 30px;
  color: #fff;
} 
.sub a:hover { color:var(--hoverColor)}

.sub_shadow { position: absolute; 
  top:60px; left:0; width: 100%; height: 300px;
  background: rgba(0,0,0,0.8);

  /* 처음에는 숨김 */
  transform: scaleY(0.5); 
  transform-origin: top center;
  opacity: 0; visibility: hidden;
  transition: all 0.4s ease-out;
}

/* 메뉴가 펼쳐졌을때  */
#header_container.menuOpen .sub {
  transform: translateY(0);
  opacity: 1; visibility: visible;
}

#header_container.menuOpen .sub_shadow {
  transform: scaleY(1);
  opacity: 1; visibility: visible;
}

@media (max-width:1169px){
  #header_container { 
    position: relative;
  }
  header {
    position: relative;
    right: 0;
    width: auto;
    transition: 0.4s ease-out; 
  }
  .trigger {
    position: relative; 
    background: transparent;
    display: block; float: right;
    width: 50px; height: 50px; margin-top: 5px;
    cursor: pointer;
  }
  .bar { 
    position: absolute; 
    width: 22px; height: 2px; left: 14px;
    background: var(--mainColor);
    transition: 0.4s ease-out; 
  }
  .bar:nth-child(1) { top:17px; }
  .bar:nth-child(2) { top:calc(50% - 1px)}
  .bar:nth-child(3) { bottom:17px; }

  .gnb { 
    position: fixed; top:0; right: -250px; bottom: 0; 
    width: 250px;
    background: #2D2D2D;

  }
  ul.navList { margin-left: 0; text-align: left; }
  ul.navList > li { display: block; }
  ul.navList > li > a.mainBtn { 
    position: relative;
    border-bottom:1px solid #666565;
    color:#fff;
    padding: 0 20px;
  }

  .icon { 
    position: absolute; width: 20px; height: 20px;
    top: 20px; right:10px
  }
  .icon::before, .icon::after { 
    position: absolute; content:"";
    width: 16px; height: 4px; 
    background: #fff; 
    top: calc(50% - 1px); left:2px;
    transition: 0.3s ease-in;
  }
  .icon::before { }
  .icon::after { transform: rotate(90deg);}


  /* 서브메뉴 기본상태 */
  .sub { 
    /* display: none; */
    position: static;
    max-height: 0;
    transform: translateY(0);
    visibility: visible;
    background: #434043;
    padding-top: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s;
  }

  /* 클릭해서 열린 상태 */
    ul.navList > li.on .sub { 
      /* display: block; */ 
      max-height: 500px;
      opacity: 1;
    }

  .sub a { opacity: 0.6; }
  .sub a br { display: none; opacity: 0.6; }

  /* 서브메뉴 펼쳐짐 */
  ul.navList > li.on .sub { display: block; }
  ul.navList > li.on > a.mainBtn { color: var(--hoverColor); }

  ul.navList > li.on .icon::before { 
    transform: rotate(45deg); 
    background: var(--hoverColor); 
  }
  ul.navList > li.on .icon::after { 
    transform: rotate(135deg); 
    background: var(--hoverColor); 
  }

  /* 네비게이션이 튀어나올 때 */
  header.open { right: 250px; }
  .open .gnb { right: 0; }
  .open .bar:nth-child(1){ transform: rotate(45deg); top: calc(50% - 1px); }
  .open .bar:nth-child(2){ width: 0; }
  .open .bar:nth-child(3){ transform: rotate(-45deg); bottom: calc(50% - 1px); }
}