@charset "UTF-8";
#main_container { }

/************* search *************/
.search_wrap { padding:0 20px; position: relative; top:-25px; }
.search {  
  max-width: 650px; margin: auto;
  border:1px solid #d4d4d4;
  background: #fff;
  padding:12px 0;
  border-radius: 9999px;
}
.search ul { display: flex; }
.search li { flex: 1; text-align: center; }
.search li + li { border-left: 1px solid #d4d4d4; } 

@media ( max-width: 768px) {
  .search_wrap { top:-40px; } 
  .search .mobile { display: inline-block; }
  .search img { height: 50px; }
}



/************* service *************/
.service_wrap { width: 1092px; margin: auto; }
.service { 
  display: grid;
  grid-template-columns: repeat(4,1fr);  
  column-gap:20px; row-gap: 30px;
  grid-template-areas: 
  "item1 item1 item2 item3"
  "item4 item4 item4 item4"
  ;
}

.service article { }
.service img { width: 100%; }
.service_item1 { grid-area:item1; }
.service_item2 { grid-area:item2; }
.service_item3 { grid-area:item3; }
.service_item4 { grid-area:item4; }


#popup { 
position: fixed;  inset:0;
display: flex; justify-content: center; align-items: center;
z-index: 999;
}
.popup_content { max-width: 480px; border:1px solid rgba(0,0,0,0.3); box-shadow: 0 3px 10px rgba(0,0,0,0.3);}
.popup_content figure img { width: 100%; }
.popup_footer {
  background: #fff; padding:14px;
  display: flex; justify-content: space-between; 
}
.popup_footer label { cursor: pointer; }




@media ( max-width:1169px) {
  .service_wrap { width: 952px; }
}

@media ( max-width:991px) {
  .service_wrap { width: 712px; }
  .service { column-gap:14px; row-gap: 10px;}
}

@media ( max-width:768px) {
  .service_wrap { width: 100%; padding:0 20px; }
  .service { 
    grid-template-columns: repeat(2,1fr); 
    grid-template-areas: 
    "item1 item2"
    "item1 item3"
    "item4 item4"
  }
}